/* page.module.css */

/* Ganze Seite */
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: 'Arial', sans-serif;
}

/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  height: 100%;
  background-color: #c0caa9;
  background: linear-gradient(to bottom, #c0caa9 0%, transparent 100%);
  border-right: 2px solid #fff;
}



.sidebar img {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Sidebar Links / Buttons */
.button {
 text-decoration: none;
  color: #333;
  font-weight: 500;
  width: 100%;
  text-align: center;
  border-top: 1px solid #f4f4ee;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button:last-child{
    border-bottom: 1px solid #f4f4ee;
}

.button:hover {
  background-color: #e2e2db;
}

/* Main Content */
.main {
  flex: 1;
  padding: 60px 80px;
  
}

/* Titel */
.main h2 {
  font-size: 20px;
  margin-bottom: 25px;
  font-weight: 400;
}

/* Form */
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 40vw;
}

.form p {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.input {
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid #999;
  font-size: 14px;
  outline: none;
}

/* Save button */
.form button {
  margin-top: 10px;
  padding: 12px;
  border: 1px solid #999;
  border-radius: 2px;
  background-color: #e8ead9;
  cursor: pointer;
  font-size: 15px;
}

/* Forgot Password Link */
.forgot {
  margin-top: 10px;
  font-size: 13px;
  color: #333;
  text-decoration: underline;
  cursor: pointer;
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 40vw;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.name {
  font-size: 16px;
}

.icons {
  display: flex;
  gap: 10px;
}

.icon {
  cursor: pointer;
  color: gray;
  transition: color 0.2s;
}

.icon:hover {
  color: black;
}


