.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 50px;
  display: flex;
  align-items: center;
  
}

.logoBlock {
  display: flex;
  align-items: center;
  gap: 15px;
}

.title {
  font-size: 32px;
  letter-spacing: 4px;
  font-weight: 300;
}

.subtitle {
  font-size: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.8;
  color: #333;
  display: flex;
  align-items: center;
}

.right {
  flex: 1;
  background-color: #f4f4ee;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border-radius: 4px;
  max-width: 400px;
}

.button {
  width: 100%;
  max-width: 300px;
  padding: 14px 20px;
  border: 1px solid #333;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: #e2e2db;
}

.right img {
  margin-top: auto;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center; /* Optional, damit Zentrierung erhalten bleibt */
  }

  .right, .left {
    max-width: none; /* Aufheben der max-width: 400px */
  }

  .left, .right {
    max-width: 100%; /* Damit sie die volle Breite nehmen */
    padding: 20px 30px; /* Optional für etwas weniger Padding auf kleineren Geräten */
  }

  
}