.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}





.pageContainer {
  font-family: sans-serif;
}

/* HERO SECTION - ganzer Bildschirm */
.hero {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  min-height: 100vh;
  padding: 0 60px;
  padding-bottom: 20vh;
  flex-wrap: wrap;
}

.left {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 50px;
  display: flex;
  align-items: center;
  
}

.logoBlock {
  display: flex;
  align-items: center;
  gap: 15px;
}

.title {
  font-size: 32px;
  letter-spacing: 4px;
  font-weight: 300;
}

.subtitle {
  font-size: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.8;
  color: #333;
  display: flex;
  align-items: center;
}

.right {
  flex: 0.5;
  background-color: #f4f4ee;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border-radius: 4px;
  max-width: 400px;
}

.button {
  width: 100%;
  max-width: 300px;
  padding: 14px 20px;
  border: 1px solid #333;
  text-align: center;
  align-items: center;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: #e2e2db;
}

.right img {
  margin-top: auto;
  margin-bottom: 10px;
}

/* INFO SECTION */
.info {
  padding: 30px 20vw;
  background-color: #423f32;
  min-height: 20vh;
  min-width: 100vw;
  color: #fff;
  text-align: center;
}

.info h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.info ol {
  text-align: left;
  display: inline-block;
  margin-top: 20px;
  padding-left: 20px;
}

.infolist {
   padding: 20px;
   text-align: left;
}

.infotwo{
  padding: 40px 20vw;
  background-color: #c0caa9;
  min-height: 40vh;
  min-width: 100vw;
  color: #000000;
  display: flex;
  flex-direction: column;
}
.infolistleft {
   padding: 20px;
   text-align: left;
}
.infolistright {
   text-align: right;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    padding: 30px 20px;
  }

  .left, .right {
    width: 100%;
  }
}
