.container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.sidebar {
  flex: 0 0 80px; /* Sidebar fix für Icons */
  background: #d0d7b3;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.canvasWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f6eb;
  margin: 10px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.canvas {
  width: 100%;
  height: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.draggableItem {
  width: 48px;
  height: 48px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
